
@font-face {
    font-family: "raleway";
    src: url("fonts/raleway/Raleway-Light.ttf") format("truetype");
}

div.ui.grid{
    margin: 0 0 2em 0;
}

div.ui.grid > * {
    padding-left: 0em;
    padding-right: 0em;
}

div.twelve.wide{
	margin: 2em 0 0 25em;
}

div.ui.grid li
{
    margin-right: 10px;
    text-decoration:none;
    list-style-type: none;
}

.logo
{
    margin-left: 40px;
}

div.ui.grid li a{
	font-family: "raleway", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	color: black;
}


li a:hover{
	color: #E2351F;
}

#menu
{
	display: none;
	position: absolute;
}
.formulaire a{
	color: #2284DF;
}

/*IMAGE ORQUE*/
.orque{
    box-shadow: 0px 0px 2px 0.3px #606060;
}

.image-container{
	position: relative;
}

#login{
	position: absolute;
	top: 80%;
	left: 5%;
	background: #E23514;
}
/*MODAL*/
.formulaire{
	width: 50%;
	margin :2em auto;
}

#email{
	margin-right: 2.6em;
}

#modal {
    width: 400px;
    margin: 0 0 0 -200px;
}

/*Infos Container*/
.infoContainer{
	width: 90%;
	margin: 3em auto;

}
h3
{
	font-size: 14pt;
	margin: 2em 0 2em 0;
	text-align: center;
	color: #E2351F;

}

h4
{
	padding-bottom: 20px;
	text-align: center;
	color: #B39DCC;
}

#menudropdown
{
	width: 10em;

}